<center>
    <h1>This is Demo page </h1>
    <h2>This is to work on the tasks covered in week 1 <br> This includes, using controllers and views, basic git operations like "Add, commit, Push, Pull, Revert, Config, Etc.."</h2>
    <h3>Let me come back here soon</h3>
    <a href="/">Get back to Home Page</a>
</center>